doctype html
block begin
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    meta(http-equiv='Accept-CH', content='Viewport-Width')
    title CodeCombat.vip|中文网 - 在游戏中学习编程
    meta(name='description', content='CodeCombat是一个通过玩游戏来学习编程的网站，到目前为止，已经翻译成17种国外语言。在游戏中，通过代码实现角色的移动、对话、攻击、拾取和使用道具，在这个过程中玩家不知不觉中就了解了编程')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/' + shaTag + '/stylesheets/app.css')
    script(src='/' + shaTag + '/javascripts/esper.js', defer='')
    script(src='/' + shaTag + '/javascripts/app.js', defer='', data-ace-base='/javascripts/ace') // This data tag needs to be on SOME script with a src for Ace to work
    if chunkPaths[viewName]
      script(src=chunkPaths[viewName], defer='')

    script(src='/user-data?sha=' + shaTag)

    block setup
    block script-start
      script.
        //- This runs for pages without specific static templates
        //- Those pages with static templates run this themselves (in mock.static.pug),
        //-   after setting window.alreadyLoadedView
        function onLoad() {
          try {
              // IE10 warning
              var htmlElement = document.querySelector("html");
              if (htmlElement) {
                  if ($.browser.msie && $.browser.versionNumber < 11) {
                      if ((window.location.pathname || "").indexOf("web-dev-level") < 0) {
                          alert("CodeCombat does not run in Internet Explorer 10 or older. Sorry!");
                      }
                  }
              }
              // IE8 can't handle this
              FastClick.attach(document.body);
          } catch (error) { }
        }
  body.clearfix(onload='onLoad();', lang="zh-HANS")
    #fb-root
    block content
    #modal-wrapper.modal-content.hide
    #module-load-progress.progress
      .progress-bar
    // CodePlay Tags Footer