extends /templates/core/modal-base

block modal-header-content
  h3(data-i18n="contact.contact_us") Contact CodeCombat...

block modal-body-content
      div(style="display:inline-block;margin:10px 30px")
        div(style="text-align:center") QQ群:277358252
        div(style="text-align:center")
          img(src="/images/qqgroup.jpg", style="width:200px;height:274px")
      div(style="display:inline-block;margin:10px 30px")
        div(style="text-align:center") QQ部落
        div(style="text-align:center")
          img(src="/images/qqteam.jpg", style="width:200px;height:274px")

